.footer {
    color: $fontColor_title;
    background-color: $banners;
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-decoration: none;
}

.socialMedia {
    margin: auto;
}

.socialMediaIcon {
    height: 2em;
}