// Widths
$min-width: 150px;
$tiny-width: 300px;
$small-width: 350px;
$med-width: 450px;
$large-width: 500px;
$big-width: 600px;
$huge-width: 750px;

$brown: #2F2517;
$teal: #7DBBC3;
$coral: #F28360;
$gray: #D1D2D8;

$banners: $teal;
$background_main: $brown;

$fontColor_title: $brown;