@media only screen and (min-width: 550px) {
    .main{
        margin: auto;
    }
}
@media only screen and (min-width: 800px) {
    .teen-container {
        display: grid;
        grid-template-columns: 3fr 6fr;
        .teens-img{
            margin: auto;
        }
    }
}

@media only screen and (min-width: 850px) {
    * {
        color: purple;
    }
    // MAIN
    .main{
        display: grid;
        grid-template-areas: "left right";
        grid-gap: 5em;
    }
    .container-main {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }

    .community-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .community-info {
        margin: auto;
    }
}
@media only screen and (min-width: 850px) {
    * {
        color: white;
    }
    // MAIN
    .text{
        font-size: 14px;
    }
}
@media only screen and (min-width: 950px) {
    * {
        color: white;
    }
    // MAIN
    .main{
        max-width: 900px;
    }
}